<link rel="stylesheet" href="css/navbarstyle.css">
<script src="js/Navbar.js"></script>

<nav class="navigation">
  <div class="container">
      <a class="navbar-brand" href="/"><img src="img/logo.png" id="logo" alt="Campy"></img></a>
      <div class="verticalLine">
      </div>
      <div class="pull-right">
      <ul id="loginInfo" class="nav navbar-nav">
        
      </ul>
      </div>
  </div>
</nav>
