<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Add CampSite</title>
    	<% include ../partials/dependencies %>
        <script src="js/jquery.backstretch.min.js"></script>
        <script src="js/AddCampsiteScripts.js"></script>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
		<link rel="stylesheet" href="css/form-elements.css">
        <link rel="stylesheet" href="css/style.css">
      
    </head>

    <body>

        <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	
                        	<form role="form" class="registration-form">
                        		
                        		<fieldset>
		                        	<div class="form-top">
		                        		<div class="form-top-left">
		                        			<h3>Step 1 / 3</h3>
		                            		<p>Add Some Info:</p>
		                        		</div>
		                        		<div class="form-top-right">
		                        			<i class="fa"></i>
		                        		</div>
		                            </div>
		                            <div class="form-bottom">
				                    	<div class="form-group">
				                    		<label>Site Name</label>
				                        	<input type="text" id="sitename" placeholder="Campsite name..." class="form-first-name form-control" id="form-first-name">
				                        </div>
				                        <div class="form-group">
				                        	<label>Site Rating</label>
				                        	<div class="rating-radio">
											    <label class="radio-inline"><input type="radio" name="rating" value="1">1</label>
											    <label class="radio-inline"><input type="radio" name="rating" value="2">2</label>
											    <label class="radio-inline"><input type="radio" name="rating" value="3">3</label>
											    <label class="radio-inline"><input type="radio" name="rating" value="4">4</label>
											    <label class="radio-inline"><input type="radio" name="rating" value="5">5</label>
											</div>
				                        </div>
				                        <div class="form-group">
				                        	<div id="map"></div>
				                        	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUimB4-PZ_y2N96diVv7i95xPIsayoF3E&callback=initMap"></script>


				                        </div>
				                        <button type="button" class="btn btn-next">Next</button>
				                    </div>
			                    </fieldset>
			                    
			                    <fieldset>
		                        	<div class="form-top">
		                        		<div class="form-top-left">
		                        			<h3>Step 2 / 3</h3>
		                            		<p>Add Directions and Description:</p>
		                        		</div>
		                        		<div class="form-top-right">
		                        			<i class="fa"></i>
		                        		</div>
		                            </div>
		                            <div class="form-bottom">
		                            	<div class="form-group">
				                        	<label>Price</label>
				                        	<div class="rating-radio center">
											    <label class="radio-inline"><input type="radio" name="price" value="0">FREE</label>
											    <label class="radio-inline"><input type="radio" name="price" value="1">$</label>
											    <label class="radio-inline"><input type="radio" name="price" value="2">$$</label>
											    <label class="radio-inline"><input type="radio" name="price" value="3">$$$</label>
											</div>
				                        </div>

				                        <div class="form-group">
				                        	<label>Directions</label>
				                        	<textarea id="directions" placeholder="Directions..." 
				                        	class="directions form-control" id="directions"></textarea>
				                        </div>
				                        <div class="form-group">
				                        	<label>Description</label>
				                        	<textarea id="description" placeholder="Description..." 
				                        	class="description form-control" id="description"></textarea>
				                        </div>
				                     
				                        <button type="button" class="btn btn-previous">Previous</button>
				                        <button type="button" class="btn btn-next">Next</button>
				                    </div>
			                    </fieldset>
			                    
			                    <fieldset>
		                        	<div class="form-top">
		                        		<div class="form-top-left">
		                        			<h3>Step 3 / 3</h3>
		                            		<p>Size and Tags:</p>
		                        		</div>
		                        		<div class="form-top-right">
		                        			<i class="fa"></i>
		                        		</div>
		                            </div>
		                            <div class="form-bottom">
		                            	<div class="form-group">
				                        	<label>Number of Tents</label>
				                        	<div class="rating-radio center">
											    <label class="radio-inline"><input type="radio" name="siteSize" value="1">1</label>
											    <label class="radio-inline"><input type="radio" name="siteSize" value="2">2</label>
											    <label class="radio-inline"><input type="radio" name="siteSize" value="3">3</label>
											    <label class="radio-inline"><input type="radio" name="siteSize" value="4">More than 3</label>
											</div>
				                        </div>
				                        <div class="form-group">
				                        	<div class="checkbox">
      											<label><input type="checkbox" name="fire">Fires Allowed?</label>
    										</div>

				                        </div>

				                        <div class="form-group">
				                        	<label>Tags (Separate By Commas)...</label>
				                        	<textarea name="tags" id="tags" placeholder="hammock, pets, water, etc." 
				                        	class="description form-control" id="description"></textarea>
				                        </div>



				                        <button type="button" class="btn btn-previous">Previous</button>
				                        <button id="add-site" type="button" class="btn">Add Campsite!</button>
				                    </div>
			                    </fieldset>
		                    
		                    </form>
		                    
                        </div>
                    </div>
                </div>
            </div>
            
        </div>



    </body>

</html>